/* DataPlant.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #173f27; /* Fundo verde escuro */
  color: #fff; /* Texto branco */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.panel {
  display: flex;
  align-items: center;
  background-color: #285f3c; /* Fundo verde escuro mais intenso */
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.imageContainer {
  margin-right: 20px;
}

.plantImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.infoContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataPlant {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.dataPlant img {
  margin-right: 20px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.label_text_style {
  font-size: 16px;
  color: #fff; /* Texto branco */
  margin-bottom: 10px;
}

.errorText {
  font-size: 16px;
  color: red;
  margin-bottom: 10px;
}