

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: #3EAF33; 
  border-radius: 20px; 
  width: 90%;
  max-width: 1200px; 
  padding: 20px;
}

h1 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.panel {
  display: flex;
  flex-direction: row; 
  background-color: greenyellow;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 100%;
  max-width: 1000px; 
  box-sizing: border-box;
}

.imageContainer {
  flex: 1;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.plantImage {
  width: 100px;
  height: 100px;
}

.weightText {
  font-size: 18px;
  color: black;
  margin-top: 10px; 
}

.infoContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dataPlant {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.dataPlant img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.label_text_style {
  font-size: 18px;
  color: black;
}

.errorText {
  color: red;
  font-size: 18px;
}

@media (max-width: 768px) {
  .panel {
    flex-direction: column; 
    align-items: center;
  }

  .imageContainer, .infoContainer {
    width: 100%;
    text-align: center;
  }

  .plantImage {
    width: 80px;
    height: 80px;
  }

  .dataPlant {
    justify-content: center;
  }

  .dataPlant img {
    width: 25px;
    height: 25px;
  }

  .label_text_style {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }

  .panel {
    padding: 10px;
  }

  .plantImage {
    width: 60px;
    height: 60px;
  }

  .weightText {
    font-size: 16px;
  }

  .dataPlant img {
    width: 20px;
    height: 20px;
  }

  .label_text_style {
    font-size: 14px;
  }
}

.button {
  margin-top: 20px; /* Espaçamento acima do botão */
  padding: 10px 20px; /* Espaçamento interno do botão */
  font-size: 16px; /* Tamanho da fonte do botão */
  background-color: #3EAF33; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  border: none; /* Remove a borda do botão */
  border-radius: 5px; /* Borda arredondada do botão */
  cursor: pointer; /* Mostra uma mão ao passar o mouse sobre o botão */
}

.button:hover {
  background-color: #36a832; /* Altera a cor de fundo ao passar o mouse sobre o botão */
}

