.InfoPlanta {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 50px;
  }
  
  .Panel{
    background-color: blue;
  }
  
  .subPanel {
    width: 70vw;
    height: 70vh;
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: greenyellow;
  }
  
  
  .Grafico, .infoPlanta{
    width: 400px;
    margin: auto;
    height: 400px;
     display: flex; /*lembrar de tirar isso dps */
    align-items: center; /*lembrar de tirar isso dps */
    justify-content: center; /*lembrar de tirar isso dps */
    background-color: black;
  }
  
  .textoTeste{
    background-color: white;
  }
  